@media (max-width:800px){
    #nav{
        background-color: rgba(0, 0, 0, 0.8);
    }
    #nav a{
        color: #fff;
    }
    #nav  i{
       
        color: #fff;
       
    }
    #nav > .container{
        flex-direction: column;
    }
    #nav .navbar-brand{
        /* border: 1px solid orange; */
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 20px 20px;
    }
    #nav .navbar-brand #hamburger{
        display: block;
        color: #fff;
        background-color:#d2691e;
        width: 40px;
        font-size: 20px;
        border: none;
        border-radius: 4px;
        text-align: center;

    }
    #nav .navbar-brand .mobile-navbar-icon{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }
    #nav .navbar-brand .mobile-navbar-icon li{
        padding: 0 20px;
    }
    
    #nav .navbar-menu{
        flex-direction: column;
        width: 100%;
        height: 0px;
        overflow: hidden;
        transition: 0.5s;
    }
    #nav .navbar-menu.active{
        height: 150px;
        padding: 10px 0;
    }
    #nav .navbar-menu li{
        /* border: 1px solid red; */
        padding: 5px 20px;
        /* text-align: center; */
    }
    
    #nav #navbar-menu li:hover{
        background-color:rgba(255,204,153,0.5);
        
    }
    
    #nav .navbar-icon{
        display: none;
    }
    /* Product Detail  */
    #product-detail > .container{
        flex-direction: column;
    }
    
}

@media (max-width:600px){
    /* Product  */
    .product .cards .card{
        flex-basis: 45%;
    }

    /* Blog */
    #blog .cards{
        flex-direction: column;
    }

    /*Collection*/
    #collection > .container{
        flex-direction: column;
    }
    /* Footer  */
    #footer > .container{
        flex-direction: column;
    }
    #footer ul{
        margin: 15px 0;
    }
}

@media (max-width: 400px){
    /* Product */
    .product .cards{
        flex-direction: column;
    }

}